<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SteamProjectConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\d.isaev\Documents\GitHub\SteamProject\SteamProject\SteamProject\App_Data\SteamProject.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
